@font-face {
  font-family: "Oswald", sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
  font-weight: 700;
  font-style: normal;
};

@font-face {
  font-family: "Roboto", sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  font-weight: 700;
  font-style: normal;
};

@font-face {
  font-family: "Roboto", sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  font-weight: 400;
  font-style: normal;
};

@font-face {
  font-family: "Roboto", sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  font-weight: 300;
  font-style: italic;
};